In [1]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [2]:
a=None
type(a)

NoneType

In [3]:
str(True)

'True'

In [4]:
int(True)

1

In [5]:
bool(45.6)

True

In [6]:
bool(a)

False

In [10]:
bool(a)

False

In [11]:
str(None)

'None'

In [12]:
bool('a')

True

In [13]:
bool('b')

True

In [17]:
int(56.2)

56

In [18]:
bool(None)

False

In [19]:
int(False)

0

In [20]:
str(True)

'True'

In [22]:
a=int(input('enter the first number:\n'))
b=int(input('enter the second number:\n'))

def com():
    if a>b:
        return True
    else:
        return False   

t=com()    
print(t)

enter the first number:
45
enter the second number:
45
False

In [6]:
a=str(45)
print("My nam is anil ", a)     
print("My nam is anil "+ a)# string to string concatenate only
a=45
print("My nam is anil ", a)
print("My nam is anil "+ a)# wrong way because a in int
#print("My nam is anil " a)

My nam is anil  45
My nam is anil 45
My nam is anil  45

TypeError: can only concatenate str (not "int") to str

In [4]:
'anil\'s'

"anil's"

In [8]:
for i in range(10):
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
n=int(input())
for i in range(n+1,0,-1):
    print(f"{n}*{i}={n*i}")

9
9*10=90
9*9=81
9*8=72
9*7=63
9*6=54
9*5=45
9*4=36
9*3=27
9*2=18
9*1=9

In [2]:
a='anil porwal '
print(len(a))

12

In [20]:
list=[]
for i in range(8):
    list.append(input("enter a fruit name"))
print(list)

enter a fruit namea
enter a fruit names
enter a fruit named
enter a fruit namef
enter a fruit nameg
enter a fruit nameh
enter a fruit nameh
enter a fruit namej
['a', 's', 'd', 'f', 'g', 'h', 'h', 'j']

In [21]:
list=[1,2,3,4,5]
s=0
for i in list:
    s=s+i
print(s)

15

In [22]:
sum(list)

15

In [24]:
"anil".index("i")

2

In [27]:
{'a':1,'b':[1,2,3,4],9:1}

{'a': 1, 'b': [1, 2, 3, 4], 9: 1}

In [30]:
myDict = { "Fast": "In a Quick Manner",
    "Harry": "A Coder",
    "Marks": [1, 2, 5],
    "anotherdict": {'harry': 'Player'} }

In [32]:
myDict['Marks2']=0
myDict

{'Fast': 'In a Quick Manner',
 'Harry': 'A Coder',
 'Marks': 0,
 'anotherdict': {'harry': 'Player'},
 'Marks2': 0}

In [ ]:
myDict.